:root {
  --bs-gutter-x: 24px;
}

.courses-overview {
  background-color: #F1F2F3;
  padding-top: 129px;
  padding-bottom: 84px;
}
@media (min-width: 1024px) {
  .courses-overview {
    padding-top: 204px;
    padding-bottom: 154px;
  }
}
.courses-overview .content__subheading {
  margin-bottom: 8px;
}
.courses-overview .content__heading {
  margin-top: 0;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .courses-overview .content__heading {
    margin-bottom: 80px;
  }
}
.courses-overview .content__courses {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 1024px) {
  .courses-overview .content__courses {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .courses-overview .content__courses {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }
}
