:root {
  --bs-gutter-x: 24px;
}

.team {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media (min-width: 1024px) {
  .team {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

@media (max-width: 1023px) {
  .team--container {
    overflow-x: hidden;
  }
}
.team--container h1 {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 68%;
}
@media (max-width: 1023px) {
  .team--container h1 {
    max-width: 100%;
  }
}

.member--container {
  --bs-gutter-y: 32px;
  margin-top: var(--bs-gutter-y/2);
  margin-bottom: var(--bs-gutter-y/2);
}
@media (min-width: 1024px) {
  .member--container {
    --bs-gutter-y: 56px;
  }
}
.member--name {
  margin-bottom: 0;
  padding-bottom: 0;
}
.member--position {
  margin-top: 3px;
  margin-bottom: 16px;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  margin-top: 12px;
  font-family: inherit;
  letter-spacing: 2px;
  color: var(--wp--preset--color--text-gray);
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .member--position {
    font-size: 10px;
  }
}
.member--linkedin {
  margin-top: 1px;
}
.member--linkedin__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  text-decoration: none;
}
.member--linkedin__link:hover {
  text-decoration: underline;
}
.member--linkedin__link-txt {
  color: var(--wp--preset--color--one);
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  line-height: 24px;
}
.member--linkedin img {
  height: 24px;
  width: auto;
}
@media (max-width: 1023px) {
  .member--linkedin img {
    height: 17px;
  }
}
.member--photo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.member--container.col-md-4 {
  padding-left: 16px;
  padding-right: 16px;
}
.member--container.col-md-4:first-child {
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: 16px;
}
@media (max-width: 1023px) {
  .member--container.col-md-4:first-child {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
}
.member--container.col-md-4:nth-child(3n) {
  padding-left: 16px;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
}
@media (max-width: 1023px) {
  .member--container.col-md-4:nth-child(3n) {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}
.member--container.col-md-4:nth-child(4n) {
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: 16px;
}
@media (max-width: 1023px) {
  .member--container.col-md-4:nth-child(4n) {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}
@media (max-width: 1023px) {
  .member--container.col-md-4 {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
}

.member--container.col-md-3 {
  padding-left: 16px;
  padding-right: 16px;
}
.member--container.col-md-3:first-child {
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: 16px;
}
@media (max-width: 1023px) {
  .member--container.col-md-3:first-child {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
.member--container.col-md-3:nth-child(4n) {
  padding-left: 16px;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
}
@media (max-width: 1023px) {
  .member--container.col-md-3:nth-child(4n) {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
.member--container.col-md-3:nth-child(5n) {
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: 16px;
}
@media (max-width: 1023px) {
  .member--container.col-md-3:nth-child(5n) {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media (max-width: 1023px) {
  .member--container.col-md-3 {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

@media (max-width: 1023px) {
  .member--container.col-md-4 .member--name {
    font-size: 28px;
    line-height: 30px;
  }
}

.over_link {
  margin-top: 16px;
  display: block;
}
@media (max-width: 1023px) {
  .over_link {
    margin-top: 10px;
  }
}
