@import "../variables";
@import "../mixins";

.courses-overview {
  background-color: #F1F2F3;
  padding-top: 129px;
  padding-bottom: 84px;
  @include media-breakpoint-up(md) {
    padding-top: 204px;
    padding-bottom: 154px;
  }

  .content {

    &__subheading {
      margin-bottom: 8px;
    }

    &__heading {
      margin-top: 0;
      margin-bottom: 40px;
      @include media-breakpoint-up(md) {
        margin-bottom: 80px;
      }
    }

    &__courses {
      display: grid;
      grid-column-gap: 10px;
      grid-row-gap: 24px;
      grid-template-columns: repeat(2, 1fr);
      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include media-breakpoint-up(lg) {
        grid-column-gap: 32px;
        grid-row-gap: 32px;
      }
    }

  }
}