@import "../variables";
@import "../mixins";
.jobs {
    background-color: #f1f2f3;
    padding-top: 142px;
    padding-bottom: 64px;
    @include media-breakpoint-up(md) {
        padding-top: 200px;
        padding-bottom: 128px;
    }
    .content {
        &.content--top {
            padding-bottom: 33px;
            @include media-breakpoint-up(md) {
                padding-bottom: 100px;
            }
            .content__subheading {
                margin-bottom: 8px;
            }
            .content__heading {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        &:not(.content--top) {
            display: flex;
            flex-flow: column nowrap;
            @include media-breakpoint-up(md) {
                flex-flow: row nowrap;
            }
        }
    }
    &__trigger {
        background-color: white;
        border: none;
        border-radius: 0;
        cursor: pointer;
        padding: 16px 18px;
        text-align: left;
        color: var(--wp--preset--color--text);
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        margin-bottom: 16px;
        @include media-breakpoint-up(md) {
            display: none;
        }
        &:after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            top: calc(50% - 8px);
            right: 18px;
            background-image: url("../../svg/plus.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all .3s ease-in-out;
        }
        &.is-open {
            &:after {
                transform: rotate(135deg);
            }
        }
    }
    &__filters {
        max-height: 0;
        overflow: hidden;
        height: auto;
        transition: max-height .3s ease-in-out;
        @include media-breakpoint-up(md) {
            max-height: unset;
            overflow: unset;
            flex: 0 0 266px;
            margin-right: 50px;
        }
        &.is-open {
            max-height: 1000px;
        }
        .filter {
            margin-bottom: 20px;
            @include media-breakpoint-up(md) {
                margin-bottom: 32px;
            }
            &.jobs__listing__navigation {
                justify-content: left;
                @include media-breakpoint-up(md) {
                    display: none;
                }
            }
            &__title {
                color: var(--wp--preset--color--text);
                display: block;
                margin-bottom: 10px;
                @include media-breakpoint-up(md) {
                    margin-bottom: 18px;
                }
            }
            .facetwp-facet {
                font-size: 18px;
                line-height: 26px;
                margin: 0;
                .facetwp-checkbox {
                    margin-bottom: 0;
                    background: none;
                    position: relative;
                    padding-left: 27px;
                    &:before {
                        content: '';
                        display: block;
                        width: 16px;
                        height: 16px;
                        background-color: white;
                        position: absolute;
                        left: 0;
                        top: 4px;
                        border-radius: 2px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 14px 12px;
                    }
                    .facetwp-counter {
                        display: none;
                    }
                    &.checked {
                        color: var(--wp--preset--color--text);
                        &:before {
                            background-image: url("../../svg/check.svg");
                        }
                    }
                }
            }
        }
    }
    &__listing {
        flex-grow: 1;
        &__navigation {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            &.navigation--top {
                display: none;
                @include media-breakpoint-up(md) {
                    padding-bottom: 20px;
                    display: flex;
                }
            }
            &.navigation--bottom {
                padding-top: 17px;
                @include media-breakpoint-up(md) {
                    padding-top: 40px;
                }
            }
            .facetwp-type-sort {
                margin: 0;
                background-color: white;
                select {
                    background-color: transparent;
                    border: none;
                    padding: 10px 31px 10px 16px;
                    color: var(--wp--preset--color--text-gray);
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-image: url("../../svg/arrow_menu.svg");
                    background-size: 8px 6px;
                    background-repeat: no-repeat;
                    background-position: right 12px bottom 13px;
                }
            }
            .site-pagination {
                margin-left: auto;
                align-self: flex-end;
                .facetwp-facet {
                    margin: 0;
                }
            }
        }
        &__items {
            .single-job {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-template-areas: "logo title" "logo details";
                grid-row-gap: 8px;
                grid-column-gap: 13px;
                text-decoration: none;
                padding-top: 16px;
                padding-bottom: 16px;
                border-bottom: solid 1px white;
                @include media-breakpoint-up(md) {
                    grid-row-gap: 10px;
                    grid-column-gap: 16px;
                    padding-top: 24px;
                    padding-bottom: 24px;
                }
                &:first-child {
                    border-top: solid 1px white;
                }
                &__logo {
                    grid-area: logo;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    width: 32px;
                    @include media-breakpoint-up(md) {
                        width: 56px;
                    }
                }
                &__title {
                    grid-area: title;
                    margin: 0;
                }
                &__details {
                    grid-area: details;
                    display: flex;
                    flex-flow: row wrap;
                    font-size: 8px;
                    font-weight: 700;
                    line-height: 13px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    margin-bottom: -8px;
                    @include media-breakpoint-up(md) {
                        font-size: 10px;
                        margin-bottom: -10px;
                    }
                    color: var(--wp--preset--color--text-gray);
                    &>* {
                        padding-top: 2px;
                        padding-bottom: 2px;
                        margin-bottom: 8px;
                        white-space: nowrap;
                        margin-right: 10px;
                        @include media-breakpoint-up(md) {
                            margin-bottom: 10px;
                            margin-right: 16px;
                        }
                        @include media-breakpoint-down(md) {
                            padding-top: 0;
                            padding-bottom: 0;
                            margin-top: 0;
                        }
                    }
                    >.badge {
                        display: inline-block;
                        color: white;
                        padding-left: 8px;
                        padding-right: 8px;
                        &--featured {
                            background-color: var(--wp--preset--color--two);
                            @include media-breakpoint-down(md) {
                                order: 999;
                            }
                        }
                        &--erly {
                            background-color: var(--wp--preset--color--four);
                            @include media-breakpoint-down(md) {
                                order: 998;
                            }
                        }
                    }
                }
                &:hover {
                    &>.single-job__title {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

[data-name="jobs_erly"] .facetwp-checkbox[data-value="0"] {
    display: none;
}