@import "../variables";
@import "../mixins";

.page-header {
  position: relative;
  display: flex;
  padding-top: 100px;
  @include media-breakpoint-up(lg) {
    padding-top: 96px;
    min-height: 660px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 76px;
    min-height: 500px;
  }
  &__background {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 6.47%, rgba(0, 0, 0, 0) 19.3%),
                  linear-gradient(89.99deg, rgba(0, 0, 0, 0.72) -4.74%, rgba(0, 0, 0, 0) 75.45%);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__container {
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .subheading {
      margin-bottom: 14px;
      color: white;
    }
    .heading {
      margin-top: 0;
      margin-bottom: 16px;
      color: white;
      max-width: 870px;
      word-wrap: break-word;
    }
    .body {
      min-height: 60px;
      max-width: 625px;
      > p {
        color: white;
      }
    }
    p.has-large-font-size{
      line-height: 30px;
      margin-top:0;
      margin-bottom: 0;
      @include media-breakpoint-down(md) {
        line-height: 24px;
      }
    }
  }

  &__circle {
    display: block;
    height: 55%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 15%;
    display: none;

    @include media-breakpoint-up(md) {
      height: 65%;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: var( --wp--preset--color--one );
      margin-left: -50%;
      transform: translateY(40px);
      transition-timing-function: cubic-bezier(.645,.045,.355,1);
    }
  }

  &.height-large {
    @include media-breakpoint-up(lg) {
      min-height: 840px;
    }
  }
}

.home .page-header__background:before{
  display: none;
}

.animation_cirle {
  animation: moveToRight 1s ease-in;

}
@keyframes moveToRight {
  0% {
    left: -30%;
  }
  100% {
    left:0;
  }
}